body {
    background-color: #a8dadc;
    width: 100%;
}

footer {
    
    background-color: #F0F6F6;
}

.card {
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-brand,
.nav-link {
    font-family: 'Kalam', cursive;
    font-size: x-large;
    color: #4D5061;
}
